html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.preview {
  flex-grow: 1;
  padding: 20px;
  background-color: whitesmoke;
}

.tree-row {
  white-space: nowrap;
}

.node {
  cursor: pointer;
}

.expand-button {
  padding: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
